.video-clip {
    width: 700px;
    height: 700px;
}


body {
    background-image: url('./net.svg');
    /* background-color: #F6EFE7; */
    /* background: linear-gradient(to right, #F6EFE7 59%, #CBBEAF 41%); */
    
}







