.cards {
  display: flex;
  flex-wrap: wrap;
}

.contact {
  padding: 5%;
}
 .img {
  width:30%;
  /* display:flex;
  justify-self:center; */
  padding-top: 3%;
  padding: 1%;
 }

 .imagebox {
  padding-left: 3%;
  padding-top: 2%;
  
 }

 .contacts {
  display: flex;
  flex-direction:row;
 }
.contactInfo {
  min-width: 30%;
}
