.footer {
  background-color: #cbbeaf;
  display: flex;
  justify-content: center;
}
.mainContainer {
  height: 200px;
  max-width: 900px;
}

.contactInfo {
  padding: 15px;
  display: flex;
  justify-content: space-between;
  gap: 10%;
}

.contactUs {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.contact {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
