.maincontainer {
    padding-top: 40px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 40px;
    margin-right: 40px;
    justify-content: space-between;
    gap: 40px;
    position: relative;
}

.star_button {
    position: absolute;
    z-index: 1;
    left: -40px;
    top: 150px;
}